<h2>Por País</h2>
<hr/>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()">
            <input type="text"
               name="termino"
               class="form-control"
               [(ngModel)]="termino"
               placeholder="Buscar país..."
        >
        </form>
    </div>
</div>

<div  *ngIf="hayError"
      class="alert alert-danger">
    No se encontro nada con el término {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row" >
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr >
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Bandera</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paises">
                    <th>{{item.ccn3}}</th>
                    <th>{{item.name.official}}</th>
                    <th><img src="{{item.flags.png }}" alt="Imagen bandera" class="small-flag"> </th>
                    <th>{{item.population | number}}</th>
                    <td><a [routerLink]="[ '/pais', item.cca3 ]">Ver país   </a> </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #noPaises>Busca algo</ng-template>

